body{
	
	background-color: black;
	color:white;
	transition: background 3s ease 1500ms;
}
svg{
	z-index: 0;
}
a{
	color:#FF00FF;
}

rect{
	transition: opacity 1s ease 500ms;
}

#renderer{
	position:absolute;
	top:0;
	left:0;
	z-index: 100;
}
#bg0{
	opacity:0;
}
#bg1{
	opacity:1;
}
#bg2{
	opacity:0;
}
#bg3{
	opacity:0;
}
#bg4{
	opacity:0;
}

#details{
	background-color: black;
	color:white;
	width:100%;
	height:35px;
	border:1px solid black;
	}
.headerShort{
	color:red;
	width:110px;
	float: left;
	height:35px;
	padding-left: 3px;
	border-right: 1px solid white
}
.headerLong{
	color:red;
	width:165px;
	float: left;
	height:35px;
	padding-left: 3px;
	border-right: 1px solid white
}